@model MedicamentoModel

@{
    ViewData["Title"] = "Editar Medicamento";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Medicamento</h1>

</div>

@* asp-route-id="@Model.Id" *@

<form asp-controller="Medicamento" asp-action="Alterar" asp-route-id="@Model.Id" method="post">

    <input type="hidden" asp-for="Id"/>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="NomeMedicamento" class="form-control" placeholder="Nome do Medicamento">
        @Html.ValidationMessageFor(x => x.NomeMedicamento)
    </div>
    <div class="mb-3">
        <label for="dataFabricacao" class="form-label">Data de Fabricação</label>
        <input type="date" asp-for="DataFabricacao" class="form-control" placeholder="Data de Fabricação do Medicamento">
        @Html.ValidationMessageFor(x => x.DataFabricacao)
    </div>
    <div class="mb-3">
        <label for="dataValdiade" class="form-label">Data de Validade</label>
        <input type="date" asp-for="DataVencimento" class="form-control" placeholder="Data de Validade do Medicamento">
        @Html.ValidationMessageFor(x => x.DataVencimento)
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Descrição do Medicamento">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Medicamento" asp-action="Index" role="button">Voltar</a>
</form>